*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image:  url("../Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.top-navbar{
    display: flex;
    justify-content: right;
    width:100%;
    height:37px;
   
    
}
.back {
    justify-content: center;
    width:fit-content;
    height: fit-content;
    background-color:rgba(34, 29, 61, 0.6);
    color: white;

}
.back a{
    color:white;
    font-size: smaller;
    text-decoration: none;
    font-weight: 300;
}

.navbar{
    list-style-type:None;
    background-color:rgb(37, 55, 71);
    float:right;
    width:100%;
    padding:0px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top:30px;
    
    }
.navbar li
{
    display:inline;
    padding:10px;
    font-family:Trebuchet MS;
    float:right;
    color: #b3cfe6;
        
}
.navbar a{
color:#b3cfe6;
background-color:rgba(0,0,0,0%);text-decoration:none;}
.effect:hover{
background-color:#456496;

}   

.logo
{
    position:absolute;
    margin-left:20px;
    height: 140px;
    width:200px;
        
}
.Container
{
    width:979px;
    margin: 0 auto ;
    margin-bottom: 0px;
    border-style: none;
        
}
.request{
	width:600px;
    background-color:rgb(46, 60, 89);
}


.block
   { 
    margin-top:45px;
    float:left;
    background-color:rgba(0,0,0,60%);
    width:975px;
    border-style: none;
    
    }   
.left-pile{
    height:50px;
    padding-left:20px;
    padding-right:20px;
    margin-top:0px;

}
.block p{
	color:white;
    font-size:14px;
    font-family:Trebuchet MS;
    margin-left:10px;
    line-height:1.5;
    padding-right:30px;
}
.block ul{
    padding-left: 40px;
}
.block li{
    color:white;
    font-size:14px;
    font-family:Trebuchet MS;
    margin-left:10px;
    line-height:1.5;
    padding-right:50px;
}
u{
    color:#b3cfe6;
}
.block h3{
    padding-top:10px;
    color:#b3cfe6;
    margin-left: 10px;

}
.request{
	width:600px;
    background-color:rgb(31, 39, 56);
    border-style:groove;
    border-left-style: none;
    border-right-style: none;
}  
.p-box{
    width:220px;
    border-radius:5px; 
    
     background-image: linear-gradient(#1affd1,10%,#00004d);
     padding:5px;
     margin:0px 50px 10px 10px;
}
.footer{
    border:none;
    width:100%;
    height:60px;
}  
.bottom{
    float:right;
    background-color:rgba(0,0,40,70%);
    padding:10px;
    color:white;
    margin-left:162px;
    margin-top:10px;
    margin-bottom: 0px;

    width:962px;
    text-align:center;
}







